<h1>Users</h1>

<p><%= link_to 'New User', new_user_path %></p>

<% @users.each do |user|%>
  <h2><%= user.full_name %></h2>
  <%= link_to 'Show User', user_path(user) %>
  <%= link_to 'Edit User', edit_user_path(user) %>
  <%= link_to 'Destroy User', user, method: :delete %>
<% end %>
